{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} will be the future landing page {% endcomment %}
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class=""></i></div>
                    <h2 class="h4 fw-bolder">Myth #1: Human trafficking does not occur in the United States. It only happens in other countries.<br></h2>
                    <p><b>Fact:</b> Human trafficking exists in every country, including the United States. It exists nationwide–in cities, suburbs, and rural towns–and probably in your own community.</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class=""></i></div>
                    <h2 class="h4 fw-bolder">Myth #2:</b> Human trafficking victims are only foreign-born individuals and those who are poor.</h2>
                    <p><b>Fact:</b> Human trafficking victims can be any age, race, gender, or nationality: young children, teenagers, women, men, runaways, United States citizens, and foreign-born individuals.</p>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class=""></i></div>
                    <h2 class="h4 fw-bolder">Myth #3:</b> Human trafficking is only sex trafficking.</h2>
                    <p><b>Fact:</b> You may have heard about sex trafficking, but forced labor is also a significant and prevalent type of human trafficking. Victims are found in legitimate and illegitimate labor industries, including sweatshops, massage parlors, agriculture, restaurants, hotels, and domestic service. Note that sex trafficking and forced labor are both forms of human trafficking, involving the exploitation of a person.</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class=""></i></div>
                    <h2 class="h4 fw-bolder">Myth #4:</b> Individuals must be forced or coerced into commercial sex acts to be a victim of human trafficking.</h2>
                    <p><b>Fact:</b> According to U.S. federal law, any minor under the age of 18 who is induced to perform commercial sex acts is a victim of human trafficking, regardless of whether he or she is forced or coerced.</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class=""></i></div>
                    <h2 class="h4 fw-bolder">Myth #5:</b> Human trafficking and human smuggling are the same.</h2>
                    <p><b>Fact:</b> Human trafficking is not the same as smuggling. “Trafficking” is exploitation-based and does not require movement across borders. “Smuggling” is movement-based and involves moving a person across a country’s border with that person’s consent, in violation of immigration laws.</p>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class=""></i></div>
                    <h2 class="h4 fw-bolder">Myth #6:</b> All human trafficking victims attempt to seek help when in public.</h2>
                    <p><b>Fact:</b> Human trafficking is often a hidden crime. Victims may be afraid to come forward and get help; they may be forced or coerced through threats or violence; they may fear retribution from traffickers, including danger to their families; and they may not be in possession or have control of the identification documents.</p>
                </div>
                <a class="text-decoration-none" href="https://attorneygeneral.utah.gov/initiatives/human-trafficking/" target="_blank">
                    Learn More
                <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}